{
    "presets": [["env",{
        "targets": {
             "browsers": ["last 3 versions", "safari >= 7"]
        },
        "loose":false,
        "modules":false, 
        "debug":false,
        "include":[],
        "exclude":[]
    }]],
    "plugins": [
        "transform-vue-jsx"
    ]
}